<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @item.title %>
</p>

<p>
  <b>Last:</b>
  <%= @item.last %>
</p>


<p>
  <b>Group:</b>
  <%= @item.group %>
</p>

<p>
  <b>Location:</b>
  <%= @item.location %>
</p>

<p>
  <b>Calories:</b>
  <%= @item.calories %>
</p>

<p>
  <b>Fat calories:</b>
  <%= @item.fat_calories %>
</p>

<p>
  <b>Fat:</b>
  <%= @item.fat %>
</p>

<p>
  <b>Sat fat:</b>
  <%= @item.sat_fat %>
</p>

<p>
  <b>Trans fat:</b>
  <%= @item.trans_fat %>
</p>

<p>
  <b>Cholesterol:</b>
  <%= @item.cholesterol %>
</p>

<p>
  <b>Sodium:</b>
  <%= @item.sodium %>
</p>

<p>
  <b>Carb:</b>
  <%= @item.carb %>
</p>

<p>
  <b>Fiber:</b>
  <%= @item.fiber %>
</p>

<p>
  <b>Sugar:</b>
  <%= @item.sugar %>
</p>

<p>
  <b>Protein:</b>
  <%= @item.protein %>
</p>


<!-- <%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %> -->
